<h1>Welcome {{user.FirstName}} {{user.LastName}}</h1>
<h2>You're rated {{rating.rating}}</h2>

{{#if user.IsContracted}}
    <p>You are contracted</p>
{{else}}
    <p>You are not contracted</p>
{{/if}}

<p>Instruments: {{user.Instruments}}</p>

<p>You have been payed ${{pay.Payment}}</p>

<p>Schedule:</p>
{{#each schedule}}
    <p>{{this}}</p>
{{/each}}